In [74]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
%matplotlib inline

In [75]:
os.getcwd()

'/Users/rajatsuri/Desktop/Padhai/CIS 508/assig 5'

In [76]:
#Read files

OSI = pd.read_csv('online_shoppers_intention.csv') #creates a dataframe

In [77]:
print(OSI.shape)

(12330, 18)

In [78]:
OSI.head()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
0,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,Feb,1,1,1,1,Returning_Visitor,False,False
1,0,0.0,0,0.0,2,64.000000,0.00,0.10,0.0,0.0,Feb,2,2,1,2,Returning_Visitor,False,False
2,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,Feb,4,1,9,3,Returning_Visitor,False,False
3,0,0.0,0,0.0,2,2.666667,0.05,0.14,0.0,0.0,Feb,3,2,2,4,Returning_Visitor,False,False
4,0,0.0,0,0.0,10,627.500000,0.02,0.05,0.0,0.0,Feb,3,3,1,4,Returning_Visitor,True,False

In [79]:
y_train = OSI["Revenue"]
X_train = OSI.drop(columns=["Revenue"]) #extracting training data without the target column

In [80]:
X_train.dtypes

Administrative               int64
Administrative_Duration    float64
Informational                int64
Informational_Duration     float64
ProductRelated               int64
ProductRelated_Duration    float64
BounceRates                float64
ExitRates                  float64
PageValues                 float64
SpecialDay                 float64
Month                       object
OperatingSystems             int64
Browser                      int64
Region                       int64
TrafficType                  int64
VisitorType                 object
Weekend                       bool
dtype: object

In [81]:
#Do one Hot encoding for categorical features
X_cat = ["VisitorType","Month","Weekend"]
#X_cat = combined.select_dtypes(exclude=['int','float64'])
print(X_cat)
X_train = pd.get_dummies(X_train,columns=X_cat,drop_first=True)
print(X_train.shape)
export_csv= X_train.to_csv('/Users/rajatsuri/Desktop/Padhai/CIS 508/assig4/X_train.csv')

['VisitorType', 'Month', 'Weekend']
(12330, 26)

In [82]:
X_train.dtypes
X_train.head()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,...,Month_Dec,Month_Feb,Month_Jul,Month_June,Month_Mar,Month_May,Month_Nov,Month_Oct,Month_Sep,Weekend_True
0,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,...,0,1,0,0,0,0,0,0,0,0
1,0,0.0,0,0.0,2,64.000000,0.00,0.10,0.0,0.0,...,0,1,0,0,0,0,0,0,0,0
2,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,...,0,1,0,0,0,0,0,0,0,0
3,0,0.0,0,0.0,2,2.666667,0.05,0.14,0.0,0.0,...,0,1,0,0,0,0,0,0,0,0
4,0,0.0,0,0.0,10,627.500000,0.02,0.05,0.0,0.0,...,0,1,0,0,0,0,0,0,0,1

In [83]:
#Clustering
#K-Means Clustering ========================================================================
#Default Mode - K=8
kmeans = KMeans()
kmeans.fit(X_train)
print(kmeans.labels_)
print(kmeans.cluster_centers_)
#Print Silhouette measure
print(silhouette_score(X_train, kmeans.labels_))

[0 0 0 ... 0 0 0]
[[ 1.30634378e+00  4.07374238e+01  2.01753083e-01  1.04307608e+01
   1.08208290e+01  2.54517798e+02  3.37247061e-02  5.91733343e-02
   3.47619476e+00  6.83108008e-02  2.12048730e+00  2.36190759e+00
   3.17099985e+00  4.23636904e+00  1.01025108e-02  8.16223444e-01
   1.38760957e-01  2.24335166e-02  3.84786807e-02  2.49591443e-02
   1.80062398e-01  2.89258654e-01  1.90907740e-01  4.57584311e-02
   3.62501857e-02  2.23889467e-01]
 [ 6.68067227e+00  2.10597929e+02  2.19747899e+00  1.86715348e+02
   1.59857143e+02  7.28081185e+03  6.31574395e-03  2.01288969e-02
   4.95244898e+00  3.69747899e-02  2.13445378e+00  2.26890756e+00
   2.78571429e+00  3.37815126e+00  1.21430643e-17  9.95798319e-01
   9.24369748e-02  4.20168067e-03  4.62184874e-02  3.78151261e-02
   5.46218487e-02  1.21848739e-01  5.25210084e-01  4.62184874e-02
   4.20168067e-02  2.35294118e-01]
 [ 3.81418919e+00  1.38668479e+02  9.66216216e-01  6.67318979e+01
   5.79148649e+01  2.40434709e+03  7.64350862e-03  2.23214550e-02
   8.22315932e+00  5.10810811e-02  2.12364865e+00  2.27094595e+00
   3.18648649e+00  3.91283784e+00  1.35135135e-03  9.35810811e-01
   1.37162162e-01  4.72972973e-03  3.64864865e-02  1.95945946e-02
   1.06081081e-01  2.56081081e-01  3.29729730e-01  4.39189189e-02
   2.90540541e-02  2.15540541e-01]
 [ 1.10000000e+01  3.01400198e+03  1.50000000e+01  2.29990417e+03
   5.77000000e+02  5.35723778e+04  2.80784550e-03  2.15663890e-02
   3.81914478e-01  0.00000000e+00  2.00000000e+00  2.00000000e+00
   1.00000000e+00  8.00000000e+00  0.00000000e+00  1.00000000e+00
   5.00000000e-01  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  5.00000000e-01  0.00000000e+00  0.00000000e+00
   0.00000000e+00  5.00000000e-01]
 [ 2.74498567e+00  1.00020862e+02  5.52690226e-01  3.66276644e+01
   3.26367399e+01  1.15307555e+03  9.17539270e-03  2.52437569e-02
   9.54589551e+00  5.57784145e-02  2.12416428e+00  2.38713785e+00
   3.15281757e+00  3.92359121e+00  3.82043935e-03  8.65011143e-01
   1.52180834e-01  7.32250876e-03  2.64247055e-02  2.16491563e-02
   1.52180834e-01  2.76981853e-01  2.42279529e-01  4.32983126e-02
   3.91595033e-02  2.59153136e-01]
 [ 4.86068111e+00  1.77414083e+02  1.33281734e+00  1.06473110e+02
   9.85216718e+01  4.30644552e+03  6.88373255e-03  2.15270928e-02
   8.37261532e+00  5.60371517e-02  2.15634675e+00  2.37925697e+00
   3.00928793e+00  3.70278638e+00  3.09597523e-03  9.69040248e-01
   1.30030960e-01  3.09597523e-03  3.25077399e-02  1.23839009e-02
   6.81114551e-02  2.01238390e-01  4.39628483e-01  4.17956656e-02
   3.56037152e-02  2.32198142e-01]
 [ 7.08641975e+00  2.55353985e+02  2.75308642e+00  2.03196365e+02
   2.73086420e+02  1.19261056e+04  5.64648943e-03  1.85637830e-02
   5.29198719e+00  2.22222222e-02  2.16049383e+00  2.45679012e+00
   2.67901235e+00  3.41975309e+00  1.23456790e-02  9.75308642e-01
   4.93827160e-02  5.20417043e-18  2.46913580e-02  7.40740741e-02
   3.70370370e-02  9.87654321e-02  6.17283951e-01  2.46913580e-02
   3.70370370e-02  2.46913580e-01]
 [ 1.45454545e+01  1.04104652e+03  4.36363636e+00  6.13265152e+02
   4.74818182e+02  2.27146613e+04  6.67303709e-03  2.01373415e-02
   4.14016512e+00  0.00000000e+00  1.90909091e+00  2.36363636e+00
   1.63636364e+00  5.36363636e+00  0.00000000e+00  1.00000000e+00
   9.09090909e-02 -1.73472348e-18  1.81818182e-01  3.46944695e-18
   0.00000000e+00  0.00000000e+00  4.54545455e-01 -6.93889390e-18
   1.81818182e-01  9.09090909e-02]]
0.5635264373425373

In [84]:
#Add Cluster Number to each datapoint + save file
df_kmeans=X_train
kmeans_predict_train=kmeans.predict(df_kmeans)
df_kmeans['Cluster Number']=kmeans_predict_train
print(df_kmeans.shape)
df_kmeans.head()
df_kmeans.dtypes

export_csv = df_kmeans.to_csv(r'/Users/rajatsuri/Desktop/Padhai/CIS 508/assig 5/export_csv1.csv')

(12330, 27)

In [85]:
#K-Means Clustering ========================================================================
# K=4

kmeans = KMeans(n_clusters=4, init='random', algorithm='elkan')
kmeans.fit(X_train)
kmeans.labels_
#kmeans.cluster_centers_
print(X_train.shape)
#Print Silhouette measure
print(silhouette_score(X_train, kmeans.labels_))

(12330, 27)
0.6471378991471664

In [86]:
#Add Cluster Number to each datapoint + save file
df_kmeans=X_train
kmeans_predict_train=kmeans.predict(X_train)

df_kmeans['Cluster Number']=kmeans_predict_train
print(df_kmeans.shape)
df_kmeans.head()
df_kmeans.dtypes

export_csv = df_kmeans.to_csv( r'/Users/rajatsuri/Desktop/Padhai/CIS 508/assig 5/export_csv2.csv')

(12330, 27)

In [87]:
#K-Means Clustering ========================================================================
# K=2

kmeans = KMeans(n_clusters=2, init='k-means++', algorithm='elkan')
kmeans.fit(X_train)
kmeans.labels_
#kmeans.cluster_centers_
print(X_train.shape)
#Print Silhouette measure
print(silhouette_score(X_train, kmeans.labels_))

(12330, 27)
0.7814616147475139

In [88]:
#Add Cluster Number to each datapoint + save file
df_kmeans=X_train
kmeans_predict_train=kmeans.predict(X_train)

df_kmeans['Cluster Number']=kmeans_predict_train
print(df_kmeans.shape)
df_kmeans.head()
df_kmeans.dtypes

export_csv = df_kmeans.to_csv( r'/Users/rajatsuri/Desktop/Padhai/CIS 508/assig 5/export_csv3.csv')

(12330, 27)

In [89]:
#accuracy of prediction

ac=0
for i in range (12330):
    if y_train[i]==False and kmeans_predict_train[i]==0:
        ac=ac+1
        
    elif y_train[i]==True and kmeans_predict_train[i]==1:
        ac=ac+1
        
print("accuracy:-")
print(ac/12330)

accuracy:-
0.8154906731549068